* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html{
  height:100%;
}
body{
    font-family: sans-serif;
    height:100%;
}
footer{
  margin-top:auto;
  height: 60px;
  bottom:0;
  background-color: #3b305b;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 15px;
}
svg {
    background-color:#d4d4e7;
    margin-left:auto;
    margin-right:auto;
    display:inline;
    overflow:hidden;
}


a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
.header {
    font-family: sans-serif;
    background-color: #f48556;
    color: #ffffff;
    padding: 15px;
}

.footer {
    /* position: relative; */
    position:absolute;
    height: 60px;
    bottom:0;
    background-color: #3b305b;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

.place_visited{
  stroke: white;
  fill:#A4A4A4;/*light grey*/
  stroke-width: 1px;
}
.journey{
  fill: none;
  stroke:#3b305b;
  stroke-width: 3;
  stroke-dasharray: 4px,4px;
}


#container{
  min-height: 100%;
  postion: relative;
}

#cityName{
  line-height:2em;
  font-size:1.5em;
  color: #3b305b;
}

#date{
  font-size:1em;
  color:#6E6E6E;
}

#dataTitle{
  font-size: 20px;
  fill: #6E6E6E;
}
#animateMap {
  position: relative;
  background:  #6E6E6E;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
}

#animateMap:hover {
  background: #f48556;
  text-decoration: none;
}

#tooltip {
  color: #3b305b;
  width:auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
